%ul.pagination
  %li
    %a{ href: '#pagination-link' } &laquo
  %li
    %a{ href: '#pagination-link' } 1
  %li
    %a{ href: '#pagination-link' } 2
  %li{ class: 'is-active' }
    %a{ href: '#pagination-link' } 3
  %li
    %a{ href: '#pagination-link' } 4
  %li
    %a{ href: '#pagination-link' } 5
  %li
    %a{ href: '#pagination-link' } &raquo
